.body__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dce1e7;
  section {
    box-sizing: border-box;
    width: 640px;
    padding: 20px 30px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    background: #ffffff;
    h1 {
      color: #000000;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .close-btn {
      position: absolute;
      top: 20px;
      right: 30px;
      outline: none;
      border: none;
      background: none;
      color: #888888;
      &:hover {
        cursor: pointer;
      }
    }
    .user-profile {
      width: 100%;
      display: flex;
      margin-bottom: 50px;
      .user-img {
        width: 80px;
        position: relative;
        margin-right: 20px;
        img {
          border-radius: 50%;
        }
        i {
          position: absolute;
          bottom: 5px;
          right: 0;
          color: #ffffff;
          background: #48a1d4;
          border: 3px solid #ffffff;
          border-radius: 50%;
          font-size: .5em;
          padding: 5px;
          box-shadow: 0 5px 10px #999999;
        }
      }
      .summary {
        h2 {
          font-size: 26px;
          margin-bottom: 5px;
        }
        p {
          font-size: 18px;
          width: 90%;
          line-height: 1.25;
        }
      }
    }
    form {
      width: 90%;
      margin: 0 auto 50px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      label {
        display: flex;
        flex-direction: column;
        color: #888888;
        margin-bottom: 20px;
        font-size: 14px;
        &:nth-child(5) {grid-column: span 2;}
        input {
          width: 80%;
          outline: none;
          border: none;
          font-size: 20px;
          margin-top: 10px;
          line-height: 1.25;
          border-bottom: 1px solid #ffffff;
          &:focus {
            border-bottom: 1px solid #888888;
          }
        }
      }
      button {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        padding: 20px 0;
        background: #47a1d5;
        color: #ffffff;
        border: none;
        outline: none;
        font-size: 20px;
        letter-spacing: .2em;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}