.body__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dce1e7;
  section {
    width: 740px;
    padding: 20px 30px;
    background: #ffffff;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    h1 {
      font-weight: bold;
      font-size: 26px;
      color: #000000;
      margin-bottom: 50px;
    }
    .close-btn {
      position: absolute;
      top: 20px;
      right: 30px;
      outline: none;
      border: none;
      color: #888888;
      font-size: .9em;
      &:hover {
        cursor: pointer;
      }
    }
    form {
      width: 80%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 60px;
      label {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        color: #888888;
        margin-bottom: 20px;
        width: 90%;
        &:nth-child(1) {
          grid-column: span 2;
          position: relative;
          input {letter-spacing: .1em;}
        }
        &:nth-child(4) {grid-column: span 2;}
        img {
          position: absolute;
          width: 60px;
          right: 0;
          top: 15px;
        }
        input {
          margin-top: 10px;
          font-size: 20px;
          color: #000000;
          outline: none;
          border: none;
          border-bottom: 1px solid #ffffff;
          padding: 5px;
          &:focus {
            border-bottom: 1px solid #666666;
          }
          &::placeholder {
            color: #666666;
          }
        }
      }
      button {
        position: absolute;
        bottom: 0;
        left: 0;
        background: #49a0d5;
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        width: 100%;
        padding: 20px 0;
        outline: none;
        border: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}