//Color
$white: #cecece;


$vertical-gradient: linear-gradient(to bottom, #383881, #847ddd, #fea255);
$circle-gradient: radial-gradient(at 50% 0, #a37bba, #e3a976, #745cf6);
$horizontal-gradient: linear-gradient(to left, #ec9d66, #c079fb, #804be3);




//Font
$loboto: 'Roboto', sans-serif;
$thin: 100;
$main: 300;
$bold: 900;