@import "_variable";
@import "_mixin";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.body__container {
  width: 1902px;
  position: relative;
  & * {
    font-family: $loboto;
  }
  header {
    height: 80vh;
    background: $horizontal-gradient;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    nav {
      box-sizing: border-box;
      padding: 20px 50px 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      color: $white;
      .nav-logo {
        font-size: 32px;
        i {
          margin-right: 5px;
        }
      }
      .main-menu {
        width: 50%;
        display: flex;
        justify-content: space-around;
        li {
          font-size: 18px;
          font-weight: $thin;
          a {
            padding: 5px 10px;
          }
        }
      }
      .mail-btn {
        outline: none;
        background: none;
        border: none;
        color: #fff;
        font-size: 20px;
        font-weight: $main;
        i {
          margin-right: 10px;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    .main-contents {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .title {
        width: 50%;
        color: #fff;
        font-size: 64px;
        font-weight: bold;
        line-height: 1.25;
        letter-spacing: .05em;
        margin-bottom: 15px;
      }
      .description {
        width: 45%;
        color: $white;
        font-size: 18px;
        line-height: 1.25;
        margin-bottom: 30px;
      }
      .link-group {
        display: flex;
        a {
          &:nth-child(1) {
            margin-right: 20px;
            @include link-btn(#393682);
          }
          &:nth-child(2) {
            @include link-btn(#fff);
          }
        }
      }
      img {
        width: 300px;
        transform: rotate(-25deg);
        position: absolute;
        right: 360px;
        bottom: -50px;
        background: linear-gradient(#5d93ff, #48cfff);
        border-radius: 50px;
        box-shadow: 3px 3px 5px #000;
      }
    }
  }
  main {
    .product-section {
      background: $vertical-gradient;
      padding-bottom: 100px;
      .header-footer {
        height: 20vh;
        border-bottom: 1px solid #888;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        strong {
          color: #fff;
          font-weight: 500;
          font-size: 16px;
          letter-spacing: .15em;
          margin-bottom: 20px;
        }
        .enterprise-list {
          width: 30%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          color: #888;
          font-size: 22px;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
      .items {
        width: 50%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        margin-bottom: 100px;
        li {
          color: #fff;
          .title {
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 20px;
          }
          .description {
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 30px;
          }
          a {
            font-weight: bold;
            font-size: 14px;
          }
          img {
            width: 450px;
            height: 450px;
            border-radius: 50%;
          }
        }
        &:nth-of-type(even) {
          li {
            &:nth-child(1) {
              order: 1;
              margin-left: 50px;
            }
          }
        }
        &:nth-of-type(odd) {
          li {
            &:nth-child(1) {
              order: 0;
              margin-right: 50px;
            }
          }
        }
      }
    }
    .features-section {
      padding: 100px 0;
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .summary {
        text-align: center;
        margin-bottom: 80px;
        .title {
          font-size: 32px;
          font-weight: bold;
          color: #363882;
          margin-bottom: 15px;
        }
        .description {
          color: #888;
          font-size: 16px;
        }
      }
      .items {
        width: 50%;
        ul {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          row-gap: 50px;
          li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
              width: 150px;
              border-radius: 5px;
              margin-bottom: 10px;
            }
            .item-title {
              font-size: 18px;
              color: #363882;
              font-weight: 500;
              margin-bottom: 15px;
            }
            .item-description {
              font-size: 14px;
              color: #999;
              font-weight: 300;
              width: 80%;
              text-align: center;
              line-height: 1.5;
            }
          }
        }
      }
    }
    .testimonials-section {
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 100px 0;
      .summary {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
        .title {
          font-size: 34px;
          color: #363882;
          font-weight: bold;
          margin-bottom: 15px;
        }
        .description {
          font-size: 16px;
          color: #888;
          font-weight: 300;
        }
      }
      .user-pictures {
        width: 55%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 100px;
        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          &:nth-child(1) {
            width: 250px;
            height: 250px;
          }
          &:nth-child(2) {margin: 0 50px;}
        }
      }
      .user-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .user-name {
          color: #363882;
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 15px;
        }
        .user-introduce {
          width: 60%;
          color: #888;
          font-size: 14px;
          line-height: 1.5;
          font-weight: 300;
          margin-bottom: 30px;
          text-align: center;
        }
        .slide-btn-group {
          width: 15%;
          display: flex;
          justify-content: space-between;
          .slide-btn {
            border: none;
            outline: none;
            background: none;
            &:hover {
              cursor: pointer;
            }
            i {
              color: #999;
            }
            &:nth-child(1) {
              i {
                color: #555;
              }
            }
          }
        }
      }
    }
  }
  footer {
    .download-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: $circle-gradient;
      padding: 100px 0;
      .title {
        color: #fff;
        font-size: 48px;
        margin-bottom: 50px;
        font-weight: bold;
      }
      .description {
        color: rgb(218, 218, 218);
        font-size: 16px;
        margin-bottom: 50px;
      }
      .download-link-group {
        display: flex;
        a {
          font-weight: bold;
          font-size: 18px;
          &:nth-child(1) {
            @include link-btn(#393682);
            margin-right: 15px;
          }
          &:nth-child(2) {
            @include link-btn(#393682);
          }
        }
      }
    }
    .info-footer {
      ul {
        display: flex;
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 33.333333%;
          padding: 50px 0;
          color: #fff;
          &:nth-child(1) {background: #363882;}
          &:nth-child(2) {background: #464aa5;}
          &:nth-child(3) {background: #5a5ec1;}
          i {
            font-size: 5em;
            margin-right: 30px;
          }
          .summary {
            strong {
              display: block;
              font-size: 46px;
              margin-bottom: 30px;
              font-weight: bold;
            }
            p {
              font-size: 18px;
              font-weight: 300;
              color: #999;
            }
          }
        }
      }
    }
    .main-footer {
      position: relative;
      display: flex;
      align-items: center;
      background: #25254b;
      padding: 50px 50px 100px;
      color: #fff;
      .title {
        font-size: 34px;
        font-weight: bold;
      }
      .sub-menu {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 40%;
        font-size: 18px;
        font-weight: 300;
        color: #888;
      }
      .sns-link {
        display: flex;
        i {
          margin-left: 15px;
        }
      }
      p {
        transform: translate(-50%);
        position: absolute;
        bottom: 50px;
        left: 50%;
      }
    }
  }
}