// COLOR
$white: #dcdcdc;
$black: #191a1f;
$gray: #3d3f43cf;
$sub-white: #979899;

//FONT
$loboto: 'Roboto', sans-serif;
$thin: 100;
$main: 400;
$bold: 900;

//GRADIENT
$background: radial-gradient( at 30% 5%, $gray, $black);