@import "_variable";
@import "_mixin";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.body__container {
  position: relative;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
  header {
    nav {
      box-sizing: border-box;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
      background: none;
      padding: 30px 20px;
      text-transform: uppercase;
      font-family: $loboto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $white;
      .logo {
        font-size: 32px;
        font-weight: $bold;
        width: 50px;
      }
      .menu {
        width: 20%;
        display: flex;
        justify-content: space-around;
        font-size: 14px;
        color: $sub-white;
        font-weight: $main;
      }
    }
    .bottom-menu {
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      position: fixed;
      padding: 50px;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      color: $sub-white;
      .sns-link {
        display: flex;
        flex-direction: column;
        a {
          font-size: 1.5em;
          &:nth-child(1),
          &:nth-child(2) {
            margin-bottom: 30px;
          }
        }
      }
      .scroll {
        transform: rotate(90deg);
        align-self: center;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: $main;
        color: $sub-white;
      }
    }
  }
  main {
    font-family: $loboto;
    .top-section {
      position: relative;
      height: 100vh;
      background: $background;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      h1 {
        font-size: 230px;
        font-weight: $bold;
        color: $white;
      }
      span {
        color: $sub-white;
        font-size: 22px;
        font-weight: $thin;
        &:nth-of-type(1) {
          position: absolute;
          left: 42%;
          top: 35%;
        }
        &:nth-of-type(2) {
          width: 100px;
          position: absolute;
          left: 50%;
          bottom: 32%;
          line-height: 1.25;
        }
      }
    }
    .middle-section {
      height: 100vh;
      background: $background;
      position: relative;
      img {
        width: 60%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        -webkit-filter: grayscale(100%);
        filter: gray;
      }
      .summary {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        bottom: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $white;
        font-family: $loboto;
        h2, a {
          text-transform: uppercase;
        }
        h2 {
          font-size: 46px;
          font-weight: $bold;
          letter-spacing: .2em;
          margin-bottom: 20px;
        }
        p {
          text-align: center;
          width: 90%;
          line-height: 1.5;
          font-size: 14px;
          letter-spacing: .1em;
          margin-bottom: 30px;
        }
        a {
          @include view-btn;
        }
      }
    }
    .bottom-section {
      height: 100vh;
      background: $background;
      position: relative;
      display: flex;
      align-items: center;
      color: $white;
      font-family: $loboto;
      .info {
        height: 640px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        h3 {
          text-transform: uppercase;
          font-size: 62px;
          font-weight: $bold;
          letter-spacing: .1em;
          margin-bottom: 50px;
        }
        p {
          width: 60%;
          line-height: 1.5;
          color: $sub-white;
          margin-bottom: 50px;
          text-align: center;
        }
        ul {
          text-align: center;
          margin-bottom: 30px;
          li {
            &:nth-child(1) {
              text-transform: uppercase;
              font-weight: $main;
              font-size: 32px;
              margin-bottom: 20px;
            }
            &:nth-child(2) {
              font-weight: $thin;
              font-size: 18px;
              color: $sub-white;
            }
          }
        }
      }
      .contact-form {
        width: 40%;
        form {
          height: 640px;
          background: #1e20256b;
          box-shadow: -5px 5px 5px #000;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          h4 {
            font-size: 62px;
            font-weight: $bold;
            letter-spacing: .1em;
            margin-bottom: 50px;
            text-transform: uppercase;
          }
          input {
            width: 70%;
            outline: none;
            border: none;
            border-bottom: 1px solid $sub-white;
            background: none;
            padding: 10px 0;
            font-size: 22px;
            color: $white;
            &::placeholder {
              color: $sub-white;
            }
          }
          button {
            position: relative;
            @include view-btn;
            z-index: 3;
          }
        }
      }
    }
  }
}