@import "_mixin";

.body__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dce1e7;
  section {
    border-radius: 5px;
    box-sizing: border-box;
    background: #f7f7f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 60px 20px;
    box-shadow: 0 0 10px #99999983;
    h1 {
      font-size: 36px;
      color: #777777;
      margin-bottom: 50px;
    }
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      label {
        width: 100%;
        font-size: 14px;
        color: #999999;
        margin-bottom: 20px;
        &:nth-child(3) {
          margin-bottom: 50px;
        }
        input {
          margin-top: 15px;
          width: 100%;
          padding: 5px 10px;
          border: 1px solid #c5c5c5;
          border-radius: 5px;
          outline: none;
          font-size: 20px;
        }
      }
      button {
        width: 100%;
        position: relative;
        background: #464553;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        border: none;
        outline: none;
        padding: 15px 0;
        border-radius: 30px;
        box-shadow: 0 3px 10px #646464;
        margin-bottom: 20px;
        &:hover {
          cursor: pointer;
        }
        i {
          position: absolute;
          right: 20px;
          font-size: .5em;
        }
      }
    }
    p {
      font-size: 14px;
      color: #666666;
      margin-bottom: 20px;
    }
    .link-group {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      a {
        &:nth-child(1) {
          @include sns-btn(#57abec);
          margin-right: 20px;
        }
        &:nth-child(2) {
          @include sns-btn(#3b5999);
        }
      }
    }
    span {
      font-size: 14px;
      color: #999999;
    }
  }
}